.PortfolioPage {
    background: rgb(240, 220, 240);
}

h1 {
    color: purple;
}

hr.purple {
    border-top: 3px solid purple;
}

.contentSection {
    background: white;
    /* margin-bottom: 65px; */
    margin-top: 5px;
    padding: 20px;
    width: 100%;
}
