.AboutPage {
    background: rgb(240, 220, 240);
}

h1 {
    color: purple;
}

/* h4 {
    font-size: 12px;
    margin-top: 18px;
    padding-top: 5px;
} */

hr.purple {
    border-top: 3px solid purple;
}

.contentSection {
    background: white;
    margin-bottom: 65px;
    margin-top: 5px;
    padding: 20px;
    width: 100%;
}

/* .customBtn,
.customBtn:hover {
    border: 1px solid purple;
}

.customBtn {
    border-color: purple;
    color: purple;
}

.customBtn:hover {
    background-color: purple;
    color: white;
} */

.wrapTextUnder {
    float: right;
    margin-left: 10px;
}

#profilePic {
    max-height: 200px;
    max-width: 200px;
}

/* The point where the cards are narrow but not yet stacked*/
/* @media screen and (min-width: 576px) {
    .card-img-top {
        align-self: center;
        height: 150px;
        width: 100px;
    }
    .card-title,
    .card-text {
        font-size: 12px;
    }
} */

/* Width at 768px and above, cards are larger sized */
/* @media screen and (min-width: 768px) {
    .wrapTextUnder {
        float: right;
    }
    .card-img-top {
        align-self: center;
        height: 200px; 
        width: 150px;
    }
    .card-title {
        font-size: 18px;
    }
} */